*.csv[[:space:]]*.csv.gz filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/L1000/moa_sizes_consensus_datasets/modz_level5_data.csv filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/L1000/moa_sizes_consensus_datasets/modz_level5_data_all_compounds.csv filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/cell_painting/moa_sizes_consensus_datasets/modz_consensus_data.csv filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/cell_painting/moa_sizes_consensus_datasets/modz_consensus_data_all_compounds.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_resnet_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_mlknn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_1dcnn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_resnet_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_1dcnn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_resnet_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_simplenn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_tabnet_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_mlknn_shuffle_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_resnet_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_1dcnn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_simplenn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_1dcnn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_simplenn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_tabnet_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_resnet.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_simplenn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_1dcnn_shuffle_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_mlknn_shuffle_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_tabnet.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_tabnet_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_mlknn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_tabnet.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_mlknn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_simplenn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_mlknn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_mlknn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_tabnet_shuffle_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_1dcnn_shuffle_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_1dcnn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_resnet.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_resnet.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_tabnet_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_mlknn_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_mlknn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_tabnet.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_resnet_shuffle_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_tabnet.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_1dcnn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_mlknn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_resnet.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_simplenn_shuffle_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_simplenn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_resnet_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_simplenn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_1dcnn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_mlknn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_simplenn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_1dcnn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_resnet.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_blend.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_1dcnn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_tabnet.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_1dcnn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_resnet_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_tabnet_shuffle_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_resnet_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_simplenn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_simplenn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_simplenn_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_resnet.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_blend.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_tabnet.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_1dcnn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_1dcnn_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_1dcnn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_1dcnn_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_simplenn_shuffle_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_simplenn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_simplenn_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_blend.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_resnet_shuffle_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_simplenn_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_tabnet_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_train_preds_tabnet_subsample.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_mlknn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_tabnet_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_train_preds_mlknn_shuffle.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_mlknn_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_resnet_subsample.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_test_preds_mlknn.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/L1000_train_preds_mlknn.csv.gz filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_L1000_test_preds_tabnet_shuffle.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/cp_test_preds_blend_subsample.csv filter=lfs diff=lfs merge=lfs -text
6.paper_figures/example_images/pngs/full/combined_component_b_full_merged.png filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/results/dose_corr_matching_moa_target_cell_painting.tsv.gz filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/results/dose_corr_matching_moa_target_L1000_part1.tsv.gz filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/results/dose_corr_matching_moa_target_L1000_part2.tsv.gz filter=lfs diff=lfs merge=lfs -text
