*.csv.gz filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/L1000/moa_sizes_consensus_datasets/modz_level5_data.csv filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/L1000/moa_sizes_consensus_datasets/modz_level5_data_all_compounds.csv filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/cell_painting/moa_sizes_consensus_datasets/modz_consensus_data.csv filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/Consensus/cell_painting/moa_sizes_consensus_datasets/modz_consensus_data_all_compounds.csv filter=lfs diff=lfs merge=lfs -text
2.MOA-prediction/L1000_CP_model_predictions/* filter=lfs diff=lfs merge=lfs -text
6.paper_figures/example_images/pngs/full/combined_component_b_full_merged.png filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/results/dose_corr_matching_moa_target_cell_painting.tsv.gz filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/results/dose_corr_matching_moa_target_L1000_part1.tsv.gz filter=lfs diff=lfs merge=lfs -text
1.Data-exploration/results/dose_corr_matching_moa_target_L1000_part2.tsv.gz filter=lfs diff=lfs merge=lfs -text
